* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-blue-color: steelblue;
    --clear: white;
    --clear-200: #eee;
    --clear-300: #ddd;
    --dark: #000;
    --gray: #333;
    --p-10: 10px;
}

nav {
    background-color: var(--nav-blue-color);
    padding: var(--p-10);
}

nav a {
    color: var(--clear);
    padding: var(--p-10);
    display: block;
}

h1 {
    color: var(--nav-blue-color);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 200px;
    height: auto;
    float: right;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--dark);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--dark);
    background-color: var(--clear-300);
    color: var(--dark)
}
