:root {
    --nav-blue-color: steelblue;
    --clear: white;
    --clear-200: #eee;
    --dark: #000;
    --gray: #333;
    --p-10: 10px;
}

nav {
    background-color: var(--nav-blue-color);
    padding: var(--p-10);
}

nav a {
    color: var(--clear);
    padding: var(--p-10);
    display: block;
}

h1 {
    color: var(--nav-blue-color);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 200px;
    height: auto;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--dark);
    padding: 1rem;
    background-color: var(--clear-200);
    color: var(--gray);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--dark);
    text-align: center;
}
